<h2>New blog</h2>
<form action="/blog/new" method="post" >
    <label for="blog-title">Title:</label><input id="blog-title" type="text" name="title"> <br>
    <textarea name="content" cols="30" rows="5"></textarea> <br> <br>
    <input id="blog-user" type="hidden" name="user" value="{{session.id}}">
    <input type="submit" value="submit" class="btn btn-primary">
</form>